<a href="https://colab.research.google.com/github/20A31A0504/TechnicalTrainingPhase3/blob/main/Phase3Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=list(map(int,input().split()))
m=l[0]
for i in range(len(l)):
  if(l[i]>m):
    m=l[i]
print(m)

22 34 66 27 36 89 57 4 5 34
89

In [ ]:
def fact(n):
  if n==0:
    return 1
  if n==1:
    return 1
  else:
    return n*fact(n-1)
fact(6)

720

In [ ]:
l=list(map(int,input().split()))//bubble sort
for i in range(len(l)-1):
  for j in range(i+1,len(l)):
    if(l[i]>l[j]):
      l[i],l[j]=l[j],l[i]
for i in range(len(l)):
  print(l[i])

23 4 22 64 3 765
3
4
22
23
64
765

In [ ]:
n=int(input())
l=[]
s=0
while(n!=0):
  r=n%10
  l.append(r)
  s+=r
  n=n//10
l.reverse()
for i in l:
  print(i,end=" ")
print(s)

235445
2 3 5 4 4 5 23

In [ ]:
s=input()
s1=s[::-1]
if s==s1:
  print("palindrome")
else:
  print("not a palindrome")

madam
palindrome

In [ ]:
n=int(input())
f1=0
f2=1
l=[0,1]
for i in range(2,n):
  f3=f1+f2
  l.append(f3)
  f1=f2
  f2=f3
print(l[-1])

8
13

In [ ]:
def fib(n):
  if n<0:
    print("invalid input")
  elif n==0:
    return 0
  elif n==1:
    return 1
  return fib(n-1)+fib(n-2)
print(fib(9))

34

In [ ]:
def create_stack():
  stack=[]
  return stack
def check_empty()

In [ ]:
12%5

2

In [ ]:
a=[23,4,21,6,28,5,62]
key=6
for i in range(len(a)):
  if(a[i]==key):
    print(i)
    break

3

In [ ]:
b=[4,33,66,74,88,93]#binary search
key=74
l=0
h=len(b)-1
while(l<=h):
  mid=(h+l)//2
  if b[mid]==key:
    print("key is at",mid, "and is", b[mid])
    break
  else:
    if(b[mid]<key):
      l=mid+1
    else:
      h=mid-1
else:
  print("not found")

key is at 3 and is 74

In [ ]:
#bubble sort
l=[23,4 ,22, 64, 3, 765]
for i in range(len(l)):
  for j in range(len(l)-1):
    if l[j]>l[j+1]:
      l[j],l[j+1]=l[j+1],l[j]
print(l)

[4, 22, 23, 3, 64, 765]

In [ ]:
def addition(n):
  return n+n
numbers=(1,2,3,4)
result=map(addition,numbers)
print(list(result))

[2, 4, 6, 8]

In [ ]:
l=[1,2,3]
r=map(lambda x:x+x,l)
print(list(r))

res=map(lambda n:pow(n,2),l)
print(list(res))

name="sam"
(lambda name: print(name))(name)

[2, 4, 6]
[1, 4, 9]
sam